@charset "utf-8";
/* CSS Document */
<style>
*{
	margin:0px;
	padding:0px;
}
#body1{
	width:1200px;
	margin:0 auto;
	}
.head{
	height:131px;
	width:auto;
	border-bottom-style:solid ;
	border-color:red;
}
.head div.logo{
	position:absolute;
	left:50px;
	width:720px;
	height:110px;
	top:10px;
	}
.head div.time{
	position:absolute;
	top:70px;
	left:1000px;
	}
#welcome{
	position:absolute;
	top:30px;
	font-size:40px;
	}
.body-picture{
	position:relative;
	top:5px;
	width:1200px;
	height:305px;
	background-image:url(image/xiaoyuanfengjing1.jpg);
	margin:0 auto;
	}
.box{
	float:left;
	width:15px;
	height:15px;
	border:#FFF solid 2px;
	margin:10px;
	position:relative;
	top:270px;
	}
.first-main{
		background-color:rgb(32,199,229);
		width:1200px;
		height:35px;
		border-style:solid;
		border-width:1px;
		border-color:rgb(0,179,195);
		margin:0 auto;
		}
.first-main ul li{
	margin-left:50px;
	margin-top:5px;
	list-style:none;
	float:left;
	width:76px;
	height:25px
	border:solid;
	}
.head-main{
		width:1030px;
		height:37px;
		margin:0 auto;
		}
.first-main ul li a:hover {
		text-decoration:none;
		color:yellow;
   		} 
.first-main ul li a{
		text-decoration:none;
		position:relative；
		top:10px;
		color:white;
		}
.first-main ul li img{
		position:relative;
		left:-5px;
		top:-3px;
		}
.first-main ul li:first-child{
	
		}
.first-main ul li:last-child{
	float:right;
	}
.text{
	position:relative;
	top:10px;
	width:570px;
	border-style:dotted;
	float:left;
		}
.text2{
	position:relative;
	top:10px;
	height:150px;
	width:600px;
	border-style:dotted;
	float:right;
		}
.clearfloat{clear:both} 
.b{	
	border-radius:25px;
	text-shadow: 5px 5px 5px #099;
	text-align:center;
	font-size:20px;
	position:relative;
	left:80px;
	top:0px;
	width:131px;
	height:105px;
	border-style:dotted;
	 box-shadow: 10px 10px 5px grey;
	 transition: transform 1s;
	 animation:myfirst 10s;
	 animation-play-state:running;
	 animation-iteration-count:infinite;/*(永远运行)*/
	}
.b:hover{/*旋转动画*/
	transform: rotate(360deg);
	}
@keyframes myfirst{/*移动动画*/
	0%   {left:80px; top:0px;}
	25%  {left:1080px; top:0px;}
	75% {left:1080px; top:300px;}
	50%  {left:80px; top:300px;}
	100% {left:80px; top:0px;}
	}
#button{
	border-radius:12px;
	font-size:20px;
	background-color:white;
	position:absolute;
	top:335px;
	left:70px;
	transition-duration:0.4s;
	border: 2px solid #4CAF50;
	color:black;
	cursor: pointer;
	}
#button:hover {
    background-color:#4CAF50;
    color:white;
}
#LastText{
	position:absolute;
	top:600px;
	left:550px;
	}

.pic ul{list-style:none;}
.pic ul li {
	width:220px;
	height:255px;
	float:left;
	margin-left:50px;
	}
	.pic ul li img{
	width:220px;
	height:255px;
		}
.introduce ul{list-style:none;}
.introduce ul li{
	transition:width 2s;
	border-radius:25px;
	line-height:30px;
	float:left;
	width:220px;
	height:147px;
	margin-left:50px;
	background-color:rgb(32,199,229);
	animation:my 5s;
	}
@keyframes my{
	from{opacity:0;}
	to{opacity:1;}
	}
.introduce ul li:last-child{
	position:relative;
	right:-4px;
	}
.pic2 ul{list-style:none;}

.pic2 ul li img{
	display:none;
	width:520px;
	height:390px;
		}
.pic2 ul li:first-child{
	position:absolute;
	top:195px;
	left:380px;
	}
.pic2 ul li:last-child{
	position:absolute;
	top:195px;
	left:410px;
	}
#first{
	position:absolute;
	top:195px;
	left:696px;
	}
#second{
	position:absolute;
	top:195px;
	left:118px;
	}
li {
	list-style:none;
	}
ul,p{
	padding:0;
	margin:0;
	}
.list { 
	position:relative;
	left:72px;
	top:56px;
	width:240px;
  		}
.list p { 
		cursor: pointer;
		border-radius:12px;
		height:30px;
		text-align:center;
		line-height:30px;
		text-indent:20px;  
		background:url(image/ico1.gif) no-repeat 80px center #6FF;
		color:#000; 
  		 }
.list ul li { 
			cursor: pointer;
			text-align:center;
			line-height:24px; 
			text-indent:24px; 
			background-color:rgb(255,0,255);
			border-radius:12px;
			margin-top:2px;
			 }
.list ul { display:none; }

#jieshao{
	width:750px;
	height:300px;
	border-radius:12px;
	background-color:#FF9;
	position:absolute;
	top:230px;
	left:400px;
	}
#jieshao h2{
	text-align:center;
	}
.hello{
	background-color:rgb(230,230,230);
	position:relative;
	top:20px;
	text-align:center;
	width:180px;
	}
.ali{
	line-height:30px;
	cursor: pointer;
	border:solid 1px rgb(201,201,201);
	height:30px;
	font-size:15px;
	}
.ali:hover{color:red;}
.ali:first-child{
	cursor:auto;
	background-color:rgb(151,202,74);
	font-color:withe;
	}
.ali:first-child:hover{color:black;}
.wel{
	padding:40px;
	line-height:30px;
	text-indent:30px;
	display:none;
	width:950px;
	border:solid 1px rgb(201,201,201);
	position:absolute;
	left:280px;
	top:660px;
	height:500px;
	}
</style>
